#board {
  height: 400px;
  width: 300px;
  background-color: grey;
}
.box {
  height: 100px;
  width: 100px;
  border: 2px solid grey  ;
}
.present {
  background-color: black;
}
.blank{
  background-color: white;
}
.row {
  display: flex;
}